{
  "role": "datanode",
  "listen": "17310",
  "prof": "17320",
  {% if cubefs_datanode_localip is defined -%}
  "localIP": "{{ cubefs_datanode_localip | default('') }}",
  {%- endif %}
  "logDir": "{{ cubefs_log_dir }}/datanode",
  "logLevel": "info",
  "raftHeartbeat": "17330",
  "raftReplica": "17340",
  "raftDir":"{{ cubefs_data_dir }}/datanode/log",
  {% if consul_enabled -%}
  "consulAddr": "http://consul.prometheus-cfs.local",
  {%- endif -%}
  "exporterPort": 9502,
  "masterAddr": [
    {% for host in groups['cubefs_master'] -%}
    "{{ hostvars[host]['ansible_default_ipv4']['address'] }}:17010"{% if not loop.last %},{% endif %}
    {%- endfor %}

  ],
  "disks": [
    {% for disk in cubefs_data_disks %}
    "{{ disk }}/cubefs:10737418240"{% if not loop.last %},
    {% endif %}
    {% endfor %}

 ]
}