[Unit]
Description=CubeFS Meta Node
After=network.target

[Service]
User={{ cubefs_user }}
Group={{ cubefs_user }}
ExecStart=/usr/local/bin/cfs-server -c /etc/cubefs/metanode.cfg
LimitNOFILE=102400000

[Install]
WantedBy=multi-user.target