[Unit]
Description=CubeFS Mount %I
After=network.target

[Service]
Type=forking
User={{ cubefs_user }}
Group={{ cubefs_user }}
ExecStart=/usr/local/bin/cfs-client -c /etc/cubefs/mount-%I.cfg
LimitNOFILE=102400000

[Install]
WantedBy=multi-user.target