{
  "masterAddr": [
    {% for host in groups['cubefs_master'] %}
    "{{ hostvars[host]['ansible_default_ipv4']['address'] }}:17010"{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "timeout": 60
} 